* {
    cursor: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    color: #fff;
    background: linear-gradient(#076585, #f4f1de);
    margin: 0;
    height: 100vh;
}

.cursor {
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50%;
    position:absolute;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    animation: cursorBeat 0.75s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    border: 8px solid #f4f1de;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: cursorAfterBeat 1s infinite alternate;
}

.expand {
    animation: cursorClicked 0.5s forwards;
    border: 2px solid #f00;
}

input, select {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    transition: color, background-color 1s;
    width: 300px;
    height: 35px;
}

::-webkit-input-placeholder {
    color: #fff;
}

input:hover::-webkit-input-placeholder, input:focus::-webkit-input-placeholder{
    color: #000;
}

select, input[type="submit"] {
    width: 93px;
    margin: 0 5px;
}

input:hover, select:hover, input:focus, select:focus {
    outline: none;
    color: #000;
    background-color: #f4f1de;
}

form:hover ~ div[class="cursor"] {
    border-color: #000;
}

.heading {
    font-size: 32px;
    margin: 20px;
    animation: textFadeIn 1s;
}

.subheading {
    font-size: 16px;
    margin: 20px;
    animation: textFadeIn 1s;
}


@keyframes transitionInBottom {
    from {
        opacity: 0;
        transform: translateY(35px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionInLeft {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes cursorBeat {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAfterBeat {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0.6);
    }
}

@keyframes cursorClicked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0
    }
}

@keyframes textFadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1; 
    }
}

form {
    animation: transitionInBottom 1s;
    margin: 10px;
}

.g-signin2 {
    display: flex;
    justify-content: center;
    animation: transitionInLeft 1s;
}